VITE_API_URL=http://localhost:PORT_BE
VITE_LABEL_STUDIO_URL=http://localhost:PORT_LS
VITE_DOMAIN_NAME=
VITE_IMG_CLASSIFY_SERVICE_URL=
VITE_TEXT_CLASSIFY_SERVICE_URL=
VITE_USE_GEN_APP_MOCKS=false
ESLINT_NO_DEV_ERRORS=true

# Not sure if these are needed
USER_EMAIL=
PROJECT_NAME=
RUN_NAME=
